$background-dark: #121212;
$accent-dark: #fa255e;
$brand: #c79ea9;;
$accent-light: #f8e5e5;
$light-shade: #c5c6c7;
$dark-shade: #86666e; 
$white: #f0f0f0;
$black: #1b1e25;

.white {
  color: $light-shade;
}

.black {
  color: $dark-shade;
}
