$background-dark: #000000;
$accent-dark: #fa255e;
$brand: #c39ea0;
$accent-light: #f8e5e5;
$light-shade: #c5c6c7;
$dark-shade: #806567;
$white: #f0f0f0;
$black: #1b1e25;

.white {
  color: $light-shade;
}

.black {
  color: $dark-shade;
}
