/*BACKGROUND COLORS*/
$background-color-primary: #303030 !default;
$background-color-paper: #424242 !default;

/*TYPOGRAPHY COLORS*/
$text-color-primary: #fff;
$text-color-secondary: rgba(255, 255, 255, 0.7);

/*BUTTON COLORS*/
$button-color-active: #fff;
$button-color-hover: rgba(255, 255, 255, 0.08);
$button-color-selected: rgba(255, 255, 255, 0.16);