/*BACKGROUND COLORS*/
$background-color-primary: #f6f6f6 !default;
$background-color-paper: #e0e0e0 !default;

/*TYPOGRAPHY COLORS*/
$text-color-primary: #361d32;
$text-color-secondary: #543c52;

/*BUTTON COLORS*/
$button-color-active: #fff;
$button-color-hover: #134d6fd5;
$button-color-selected: rgba(255, 255, 255, 0.16);

/*ADDITIONAL COLORS*/
$primary-color: #ff6150;
$secondary-color: #a853c2;
$tertiary-color: #4394ca;
