.socialsFooter {
  position: relative;
  padding-bottom: 2rem;
  flex-wrap: wrap-reverse;
  text-align: center;
}

.socialsFooter:before {
  border-top: 1px solid black;
}

.typewriter {
    text-align: right;
}
