@import "../styles/_variables/colors.scss";

.socialsFooter {
  margin-top: 2rem;
  background-color: $background-dark;
  position: relative;
  padding-bottom: 2rem;
  flex-wrap: wrap-reverse;
  text-align: center;
}

.socialsFooter:before {
  border-top: 1px solid black;
}

.typewriter {
  color: $light-shade;
}