.chip {
  border-radius: 40rem;
  max-width: 80%;
  border: 0.1px solid;
  padding: 0.25rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  margin: 0.2rem;
  backdrop-filter: color-dodge(10rem);
}

.logo {
    margin-left: 2rem;
}