@import "../../styles/_variables/colors.module.scss";

.container {
  flex: 2;
  padding: 1rem;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  color: $accent-light;
}

.collapsedCard {
  margin: 1.5rem;
  border-radius: 5%;
  max-width: 14rem;
  width: 14rem;
  height: 16rem;
  min-height: 16rem;
  background-repeat: initial;
  display: flex;
}

.collapsedText {
  align-self: flex-end;
  padding: 1rem;
}

.collapsedName {
  font-size: 1.3rem;
  font-weight: bolder;
  font-family: Heebo;
  color: $white;
}

.collapsedBrief {
  font-family: Raleway, Helvetica;
  font-size: 0.8rem;
}

.tags {
  flex: 2;
  display: inline-flex;
  flex-wrap: wrap;
  padding-top: 1rem;
}

@media (max-width: 600px) {
  .collapsedCard {
    max-width: 18rem;
    width: 17rem;
    min-height: 20rem;
  }
}
