@import "./_variables/colors.scss";

.mainHeader {
  font-size: 18vh;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.centered {
    padding-top: 25vh;
}

.fullPage {
  height: 100vh !important;
}


.padTopMd {
    padding-top: 3rem;
}

@media (max-width: 600px) {
  .mainHeader {
    width: 100%;
    font-size: 11vh;
  }
}

@media (max-width: 400px) {
    .mainHeader {
      width: 100%;
      font-size: 8vh;
    }
  }