@import "./_variables/colors.module.scss";

.mainHeader {
  font-size: 18vh;
  flex: 1;
  flex-wrap: wrap-reverse;
  overflow: hidden;
  font-family: Work Sans, Helvetica;
  color: $accent-light;
}

.sectionHeader {
  padding-top: 4rem;
  padding-bottom:3rem;
  font-size: 12vh;
  flex: 1;
  flex-direction: column;
  color: $brand;
  font-family: Heebo;
}

.subTitle {
  color: $dark-shade;
  font-size: 7vh;
  font-family: Helvetica;
}

.centered {
  padding-top: 25vh;
}

.fullPage {
  min-height: 100vh !important;
}

.quarterPage {
  min-height: 25vh !important;
}

.padTopMd {
  padding-top: 3rem;
}

.highlightWhite {
  color: $background-dark;
  background-color: $accent-light;
}

.accentLight {
  color: $accent-light;
}

@media (max-width: 1024px) {
  .mainHeader {
    width: 100%;
    font-size: 13vh;
  }
  .sectionHeader {
    font-size: 9vh;
  }
  .subTitle {
    font-size: 5vh;
  }
}

@media (max-width: 450px) {
  .mainHeader {
    width: 100%;
    font-size: 9vh;
  }
  .sectionHeader {
    font-size: 7vh;
  }
  .subTitle {
    font-size: 4vh;
  }
}
